<div class="trending-communities">
  <div class="trending-communities_header">
    <div class="trending-communities_header__title">
      <h2 class="trend-title">Trending Communities</h2>
    </div>
  </div>
  <div class="trending-communities_communities-body">
    <div class="trending-communities_communities">
      <div class="trending-communities_communities__avatar">
        <img src="{{ communitiesAvatar }}" width="40" height="40">
      </div>
      <div class="trending-communities_communities_name">
        <p>r/В общем тут название</p>
      </div>
      <div class="trending-communities_communities__button">
        <button nz-button nzType="primary">+ Join</button>
      </div>
      
    </div>
  </div>
</div>
