<div class="info-card">
    <div class="info-card-body">
        <div class="info-card-body_left-column">
            <a href="#">Help</a>
            <a href="#">App</a>
            <a href="#">About</a>
            <a href="#">Topics</a>
            <a href="#">Help</a>
            <a href="#">App</a>
            <a href="#">About</a>
            <a href="#">Topics</a>
        </div>
        <div class="info-card-body_right-column">
            <a href="#">Press</a>
            <a href="#">Blog</a>
            <a href="#">Trems</a>
            <a href="#">Communities</a>
            <a href="#">Press</a>
            <a href="#">Blog</a>
            <a href="#">Trems</a>
            <a href="#">Communities</a>
        </div>
        
    </div>
   
</div>