<div *init="{ textAreaValue: textareaValue$ | async} as params" class="post-form-body">
  <h3 class="post-form-body__form-title">Create a post</h3>
  <hr />
  <div class="post-form-body__user">
    <div class="post-form-body__user_avatar">
      <img
        src="https://cdn.iconscout.com/icon/free/png-256/reddit-74-434748.png"
        width="30"
        height="30"
      />
    </div>
    <p class="post-form-body__user_name">u/user</p>
  </div>
  <div class="post-form-body_form">
    <nz-tabset>
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>
          <i nz-icon [nzType]="tab.icon"></i>
          {{ tab.name }}
        </ng-template>
        <ng-container [ngSwitch]="tab.id">
          <ng-container *ngSwitchCase="1">
            <div class="post-form-body__content">
              <div class="post-form-body_title">
                <input #headingInput nz-input placeholder="Title" />
              </div>
              <div class="post-form-body_description">
                <ckeditor
                  [editor]="Editor"
                  [config]="ckEditorConfig"
                  data="<p>Hello, world!</p>"
                  #descriptionTextarea
                  (change)="changeTextareField($event)"
                ></ckeditor>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </nz-tab>
    </nz-tabset>
    <div class="post-form-body__post-button">
      <button
        (click)="
          createPost({
            heading: headingInputEl.nativeElement.value,
            description: params.textAreaValue
          })
        "
        nz-button
        nzType="primary"
      >
        Post
      </button>
    </div>
  </div>
</div>

<!--      <div class="clearfix">-->
<!--        <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" nzListType="picture" >-->
<!--          <button nz-button><i nz-icon nzType="upload"></i>Upload</button>-->
<!--        </nz-upload>-->
<!--      </div>-->
