<div
  *init="{
    allPosts: allPosts$ | async,
    newsType: selectedNewsType$ | async,
    isLogged: isLogged$ | async
  } as params"
  class="news"
>
  <div class="news__trends">
    <app-trends-list [trends]="cards"></app-trends-list>
  </div>
  <div class="d-flex">
    <div class="news__body">
      <app-popular-posts
        [type]="params.newsType"
        (typeChange)="selectedNewsType$.next($event)"
      ></app-popular-posts>
      <app-post-card
        *ngFor="let card of params.allPosts; trackBy: trackByFn"
        [heading]="card.heading"
        [description]="card.description"
        [userName]="card.user?.name"
        [rate]="card.rating"
        [image]="card.img"
        [video]="card.video"
        [comments]="card.post_comments"
        (addComment)="sendComment($event, card.userId, card.id)"
        (upVoteClick)="upVote(card.userId, card.id, params.allPosts)"
        (downVoteClick)="downVote(card.userId, card.id, params.allPosts)"
        [isLogged]="params.isLogged"
      ></app-post-card>
    </div>
    <div class="news__side-panel">
      <app-top-news-communities
        *ngFor="let new of news"
        [headerBgImage]="new.headerBgImage"
      ></app-top-news-communities>
      <app-popular-themes></app-popular-themes>

      <app-trending-communities
        *ngFor="let community of communities"
        [communitiesAvatar]="community.communitiesAvatar"
        [communitiesName]="community.communitiesName"
      ></app-trending-communities>
      <app-info-card
        *ngFor="let info of inform"
        [InfoBgImage]="info.InfoBgImage"
        (profileClick)="goToProfile()"
        [isLogged]="params.isLogged"
      ></app-info-card>
    </div>
  </div>
</div>

<!-- <app-top-bar></app-top-bar> -->
