// @import "styles";
@import "src/vars.scss";
.profile {
  display: flex;
  flex-direction: row;
  background-color: $mainBgColor;
  padding: 48px;
  &__body {
    display: flex;
    flex-direction: row;
    margin-left: 10em;
  }
  &_side-panel {
    display: flex;
    flex-direction: row;

  }
}
