<div class="post-card">
  <div class="post-card__vote-column">
    <div class="post-card__vote-column_up-button">
      <i nz-icon nzType="arrow-up" nzTheme="outline"></i>
    </div>
    <div class="post-card__vote-column_counter"><p>{{ rate }}</p></div>
    <div class="post-card__vote-column_down-button">
      <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
    </div>
  </div>
  <div class="post-card_wrapper">
    <div class="post-card__top-bar">
      <div class="post-card__top-bar__user">
        <div class="post-card__top-bar__user_avatar">
          <img
            src="https://img.icons8.com/bubbles/2x/reddit.png"
            width="30"
            height="30"
          />
        </div>
        <p class="post-card__top-bar__user_name">
          {{ userName }}
        </p>

      </div>
      <div class="post-card__top-bar_join-button">
        <button nz-button nzType="primary">+ Join</button>
      </div>
    </div>


  <div class="post-card__body">
    <div class="post-card__body_title">
      <h3>{{ heading }}</h3>
    </div>
    <div class="post-card__body_description">
      {{ description }}
    </div>
<!--    <img-->
<!--    class="post-card__body_image"-->
<!--    src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Capitals-Maple_Leafs_%2834075134291%29.jpg/1200px-Capitals-Maple_Leafs_%2834075134291%29.jpg"-->
<!--  >-->
  </div>

  <div class="post-card__footer">
    <div class="post-card__footer_comment-button"><a href="#">
      <i nz-icon nzType="comment" nzTheme="outline"></i> Comments
    </a></div>
    <div class="post-card__footer_share-button"><a href="#">
      <i nz-icon nzType="share-alt" nzTheme="outline"></i> Share
    </a></div>
    <div class="post-card__footer_save-button">
      <a href="#">
        <i nz-icon nzType="download" nzTheme="outline"></i> Save
      </a>
    </div>
  </div>
</div>
</div>
