<div class="user-card">
  <div class="user-card_header">
    <div class="user-card_header__create-avatar">
      <img src="https://styles.redditmedia.com/t5_2w0zz/styles/communityIcon_9sx17igeqhm11.png?width=256&s=9effc04d08e0a21294d9539842e62a6a9118f5d6" width="80" height="80">
    </div>
  </div>

  <div class="user-card_header__user-name">
    <p> Это твоя личная страница</p>
  </div>
  <div class="user-card_post-button">
    <button nz-button nzType="primary" nzBlock (click)="logoClick.emit()">На главную страницу</button>
  </div>
  </div>

