<div class="top-bar">

  <!-- LOGO -->
  <div (click)="logoClick.emit()" class="top-bar_big-piece_img">
    <img
      src="https://pbs.twimg.com/profile_images/693594781507715072/F0vnQpfe_400x400.png"
      width="40" >
  </div>

  <!-- SEARCH -->
  <div class="top-bar_search">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder=" Search" />
    </nz-input-group>

    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>

  <!-- BUTTON -->

  <div class="top-bar_register">

    <ng-container *ngIf="!isLogged">
      <button nz-button nzType="primary" (click)="logInClick.emit()"> LOG IN </button>
      <button nz-button nzType="default" (click)="signUpClick.emit()"> SIGN UP </button>
    </ng-container>

    <!-- DROPDOWN -->
    <div class="top-bar_dropdown">
      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <i nz-icon nzType="caret-down" nzTheme="outline"></i>
      </a>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="profileClick.emit()">
          <i nz-icon nzType="solution" nzTheme="outline"></i> Profile
          <li nz-menu-item>
          <i nz-icon nzType="question-circle" nzTheme="outline"></i> Help </li>
          <li nz-menu-divider></li>
          <li *ngIf="isLogged" nz-menu-item (click)="logoutClick.emit()">
            <i nz-icon nzType="login" nzTheme="outline"></i> Log Out </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</div>
