  
  <div class="top-bar">
     <!-- LOGO -->
    <!-- <div class="top-bar_big-piece"></div> -->
        <div class="top-bar_big-piece_img">
            <img src="https://sun9-47.userapi.com/impg/6sm6gzi9U_XK8qGzmN3aZ8n9ya38uFDrOtCTJQ/o9ZcKwfpTHo.jpg?size=700x685&quality=96&sign=7f3bd132525b6935fa02500fba283a90&type=album" width="35">
          </div>
        

 <!-- SEARCH -->
    <div class="top-bar_search">
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder=" Search" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
    </div>

 <!-- BUTTON -->
    <div class="top-bar_registr">
        <button nz-button nzType="primary">LOG IN</button>
        <button nz-button nzType="default" (click)="signUpClick.emit()">SIGN UP</button>
    </div>

  <!-- DROPDOWN -->
    <div class="top-bar_dropdown">
        
        <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                      <i nz-icon nzType="user" nzTheme="outline"></i>
            <i nz-icon nzType="down"></i>
        </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item >1st menu item </li>
              <li nz-menu-item>2nd menu item</li>
              <li nz-menu-item>disabled menu item</li>
              <li nz-menu-item><i nz-icon nzType="question-circle" nzTheme="outline"></i>Help</li>
              <li nz-menu-divider></li>
              <li nz-menu-item> <i nz-icon nzType="login" nzTheme="outline"></i>Log In / Sign Up</li>
            </ul>
          </nz-dropdown-menu>
        </div>
        
</div>







