.top-bar {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 3em;
  background-color: aliceblue;
  

  &_big-piece_img {
    display: flex;
    align-items: center;
    margin-left: 4em;
  }

  &_search {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    width: 60%;
    margin-left: 8em;
    margin-right: 6em;
    
  }

  &_registr {
    display: flex;
    align-items: center;
    
    
  }
  &_registr :first-child {
    display: flex;
    align-items: center;
  }

  &_dropdown {
    display: flex;
    align-items: center;
    font-size: 1em;
  }
}
