.top-bar {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 3em;
  background-color: white;

  &_big-piece_img {
    display    : flex;
    align-items: center;
    margin-left: 1em;

    cursor: pointer;

    img {
      border-radius: 4em;
    }


  }

  &_search {
    display       : flex;
    flex-direction: inherit;
    align-items: center;
    width: 60%;
    margin-left: 8em;
    margin-right: 6em;
  }

  &_register {
    display: flex;
    align-items: center;
    button {
      margin-right: 1em;
      border-radius: 4em;

    }
  }
  &_register :first-child {
    display: flex;
    align-items: center;
  }

  &_dropdown {
    display    : flex;
    align-items: center;
    font-size  : 1em;
  }
}
