.sign-modal {
  display: flex;
  flex-direction: row;
  width: 850px;
  height: 650px;
  background-color: white;

  &_background-photo {
    background-image: url("https://i.pinimg.com/564x/c4/48/7b/c4487b7a02e000d18504d4469fcb4833.jpg");
    background-size: 400px;
    display: flex;
    width: 300px;

  }

  &_content {
    display: flex;
    flex-direction: column;
    width: 100%;


    &__close-button {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 4px 4px;
      font-size: 17px;

    }

    &__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      margin: 50px;

      button {
        border-radius: 2em;
        width: 100%;
      }
    }
  }

  i {
    cursor: pointer;
  }

}
