<div *init="{ modalState: signModalState$ | async } as params" class="app">
  <app-top-bar
    class="app__top-bar"
    (signUpClick)="goToSignUp()"
    (logInClick)="signModalState$.next('login')"
    (profileClick)="goToProfile()"
    (logoClick)="logoClickHandler()"
  ></app-top-bar>
  <app-sign-modal
    class="app__sign-modal"
    *ngIf="params.modalState"
    [state]="params.modalState"
    (closeModal)="signModalState$.next(null)"
    (applyClick)="signUpHandler($event)"
  ></app-sign-modal>

  <!--  <app-profile></app-profile>-->
  <router-outlet></router-outlet>
</div>
