<div class="top-news-card">
  <div
    class="top-news-card_header"
    [ngStyle]="{ backgroundImage: 'url(' + headerBgImage + ')' }"
  >
    <h2 class="top-news-card_header__title">Top News Communities</h2>
  </div>
  <ol *ngIf="news.length">
    <li *ngFor="let row of news; let i = index">
      <div class="top-news-card__row">
        <!-- <div class="top-news-card__row_count">{{ i+1 }}</div> -->
        <div class="top-news-card__row_avatar">
          <img src="{{ row.avatar }}" width="25" height="25" >
        </div>
        <p class="top-news-card__row_title">
         {{ row.title }} 
        </p>
      </div>
    </li>
  </ol>

  <div class="top-news-card_view-button">
    <button nz-button nzType="primary" nzBlock>View All</button>
  </div>
  <div class="top-news-card_footer-button">
    <span class="top-news-card_footer-button">
      <button nz-button nzType="default">Top</button>
    </span>
    <span class="top-news-card_footer-button">
      <button nz-button nzType="default">Sports</button>
    </span>
    <span class="top-news-card_footer-button">
      <button nz-button nzType="default">Health</button>
    </span>
    <!-- <span class="top-news-card_other-button">
      <button nz-button nzType="default">Game</button>
    </span> -->
  </div>
</div>
