// FONTS
$steinbeck-font: "Steinbeck", arial, helvetica, sans-serif;

$p1: (
//   font-family
  $steinbeck-font,
//   font-style
  normal,
//   font-weight
  400,
//   font-size
  (
    "desktop": 16px
  ),
//   line-height
  (
    "desktop": 28px
  ),
//   font-feature
  ""
);

@mixin font($family, $style, $weight, $size, $line-height, $font-feature) {
  font-weight: $weight;
  font-size: map-get($size, "desktop");
  line-height: map-get($line-height, "desktop");
  font-family: $family;
  font-style: $style;
  font-feature-settings: $font-feature;

}