<section class="card-folder">
  <a href="#" class="card">
    <div
      class="card-body"
      [ngStyle]="{ backgroundImage: 'url(' + bgImage + ')' }"
    >
      <h1 class="card_title">{{ title }}</h1>

      <p class="card_description">{{ description }}</p>
      <div class="card__user">
        <img
          class="card__user_avatar"
          src="{{ source.avatar }}"
          width="25"
          height="25"
        />
        <p class="card__user_name">{{ source.name }}</p>
      </div>
    </div>
  </a>
</section>
