@import "src/vars.scss";

.card-folder {
  display: flex;
  flex-direction: row;
  transition: box-shadow .3s;


  .card {
    // width: 25%;
    cursor: pointer;

    &_description {
      color: $yellow;
      width: 100%;
      height: 30%;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      @include font($p1...);
    }

    &__user {
      display: flex;
      flex-direction: row;
      align-items: center;

      &_avatar {
        border-radius: 25px;
      }

      &_name {
        color: azure;
        font-size: 12px;
        margin-bottom: 0;
        margin-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .card-body {
      display: flex;
      justify-content: left;
      flex-direction: column;
      height: 200px;
      width: 100%;
      border: 1px;
      border-radius: 8px;
      padding: 16px;

      h1 {
        color: whitesmoke;
        width: 20px;
        height: 50px;
        font-size: 26px;
      }
    }
  }
}
.card-folder:hover{
  box-shadow: 10px 10px 15px
  rgba(33,33,33,.2);
}
