<div class="card-body" [ngStyle]="{ backgroundImage: 'url('+bgImage+')' }">
  
    <h1>{{ title }}</h1>
    <p>{{ description }}</p> 
  <div class="user">   
     <h2>{{ source.avatar }}
        {{ source.name }}
    </h2>
   </div>
           
</div>





















<!-- <div>
  <div nz-row [nzGutter]="6">
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Card title1">
        <p>Card content</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Card title2">
        <p>Card content</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Card title3">
        <p>Card content</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Card title4">
        <p>Card content</p>
      </nz-card>
    </div>
  </div>
</div> -->