.popular-post-card {
  display       : flex;
  flex-direction: row;

  // TODO: vote-column

  &_wrapper {
    display       : flex;
    flex-direction: column;
  }

  &top-bar {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;

    &user {
      display       : flex;
      flex-direction: row;
      align-items   : center;

      // TODO: avatar

      // TODO: name
    }

    // TODO: button
  }

  // TODO: body

  // TODO: footer
}