.popular-post-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p{
    font-size: 15px;
  }

  &_filter-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 8px 12px;
    border-radius: 0.2em;
    max-width: 70%;
    margin-bottom: 1em;

    button {
      border-radius: 4em;
      margin-right: 1em;
    }
    
  }
}
