.popular-post-card {
<<<<<<< HEAD
    display: flex;
    flex-direction: row;  
    

    &_vote-column {
      display: flex;
      flex-direction: column;
    }
  
    &_wrapper {
      display: flex;
      flex-direction: column;
  
    }
  
    &_top-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      &_user {
        display: flex;
        flex-direction: row;
        align-items: center;
  
        &_avatar {
        }
  
        &_name {
  
        }
      }
  
      &_button {
  
      }
    }
  
    &_body {
      &_title {
  
      }
  
      &_description {
  
      }
    }
  
    &__footer {
      &_comment-button {
  
      }
  
      &_share-button {
  
      }
=======
  display       : flex;
  flex-direction: row;

  // TODO: vote-column

  &_wrapper {
    display       : flex;
    flex-direction: column;
  }

  &top-bar {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;

    &user {
      display       : flex;
      flex-direction: row;
      align-items   : center;

      // TODO: avatar

      // TODO: name
>>>>>>> f0bbd96ec3414fed41d2e72305fe3601912adf9f
    }

    // TODO: button
  }

  // TODO: body

  // TODO: footer
}